<% content_for :head do %>
圈子列表-微信通联
<% end %>
<%#= link_to '添加用户', new_sys_user_path %>
<% if @sys_groups.present? %>
<h2>圈子列表</h2>
<table class="table table-borded table-hover">
    <tr>
        <th>圈子名称</th>
        <% if session[:role] == "manager"%>
          <th>创建人</th>
        <% end %>
        <th>圈子成员数</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    <% @sys_groups.each do |group| %>
      <% if group.users.present? && group.users.size > 0 %>
        <tr>
            <td>
              <% if group.active %>
                <a href="/sys/groups/<%=group.id %>">
              <% else %>
                <a href="/sys/groups/<%=group.id %>" class="muted">
              <% end %>
                <%=group.name %>
              </a>
            </td>
            <% if session[:role] == "manager"%>
              <td><%= group.create_user.name.present?? group.create_user.name : group.create_user.email.split("@")[0] if group.create_user.present? %></td>
             <% end %>
            <td><%= group.users.size %></td>
            <td><%= shown_time(group.created_at) %></td>
            <td>
                <%= link_to '编辑' , edit_sys_group_path(group) %>
                <%= link_to '删除' , group , method: :delete, data: { confirm: '确定删除?' } %>
            </td>
        </tr>
      <% end %>
    <% end %>
</table>
<p><%= will_paginate @sys_groups,option = {:next_label => "下一页", :previous_label => "上一页"} %></p>
<% else %>
    <p class="muted">你还没有自己的圈子，<a href="/sys/groups/new">创建</a>一个吧!</p>
<% end %>



