
<% content_for :head do %>
  圈子信息-微信通联
<% end %>

<% if @sys_group.active %>
  <h2>
 <% else %>
  <h2 class="muted">
<% end %> 
  <%= @sys_group.name %>
  <% if session[:role] == "manager"%>
    <small class="muted" style="font-size:14px;">by <%=  @sys_group.create_user.name if @sys_group.create_user.present? %></small>
  <% end %>
</h2>

<p class="muted" style="font-size:14px;margin-top:-10px;">联系方式：<%=  @sys_group.contact_phone %></p>
<p class="muted" style="font-size:14px;margin-top:-10px;">创建时间：<%=  shown_time(@sys_group.created_at) %></p>

<div style="height:50px;" class="pull-right">
  <%= link_to '修改信息' , edit_sys_group_path(@sys_group), :class => "btn" %>
  <%= link_to '邀请好友', invitation_sys_group_path(@sys_group) , :class => "btn btn-info"%>
</div>

<% if @sys_group.users.present? %>

    <table class="table table-borded table-hover">
      <tr>
        <th>邮箱</th>
        <th>姓名</th>
        <th>手机</th>
        <th>座机</th>
        <th>QQ</th>
        <th>操作</th>
      </tr>

      <% @sys_group.users.each do |sys_user| %>
          <tr>
            <td>
              <%= link_to sys_user.email, sys_user_path(sys_user) %>
            </td>
            <td><%= sys_user.name %></td>
            <td><%= sys_user.mobile %></td>
            <td><%= sys_user.phone %></td>
            <td><%= sys_user.qq %></td>
            <td>
              <% if sys_user.id != session[:id].to_i %>
                <%= link_to '删除', destroy_user_group_sys_groups_path(:user_id => sys_user.id,:group_id => @sys_group.id), method: :delete , data: { confirm: '确定删除?' } %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

<% end %>



