<h1>Listing sys_column_sets</h1>

<table>
  <tr>
    <th>Column name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_column_sets.each do |sys_column_set| %>
  <tr>
    <td><%= sys_column_set.column_name %></td>
    <td><%= sys_column_set.active %></td>
    <td><%= link_to 'Show', sys_column_set %></td>
    <td><%= link_to 'Edit', edit_sys_column_set_path(sys_column_set) %></td>
    <td><%= link_to 'Destroy', sys_column_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Column set', new_sys_column_set_path %>
