<p id="notice"><%= notice %></p>

<p>
  <b>Column name:</b>
  <%= @sys_column_set.column_name %>
</p>

<p>
  <b>Active:</b>
  <%= @sys_column_set.active %>
</p>


<%= link_to 'Edit', edit_sys_column_set_path(@sys_column_set) %> |
<%= link_to 'Back', sys_column_sets_path %>
