<%= form_for(@sys_user) do |f| %>
  <% if @sys_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sys_user.errors.count, "error") %> prohibited this sys_user from being saved:</h2>

      <ul>
      <% @sys_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :allow_access %><br />
    <%= f.check_box :allow_access %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :qq %><br />
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label :weixin %><br />
    <%= f.text_field :weixin %>
  </div>
  <div class="field">
    <%= f.label :weibo %><br />
    <%= f.text_field :weibo %>
  </div>
  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
