<div style="margin-left:200px">
  <%= form_for(@sys_user) do |f| %>
    <div class="control-group">
      <label class="control-label" for="typeahead">邮箱</label>
      <div class="controls">
        <%= f.text_field(:email)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">姓名</label>
      <div class="controls">
        <%= f.text_field(:mobile)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">性别</label>
      <div class="controls">
        <%= f.text_field(:sex)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">手机</label>
      <div class="controls">
        <%= f.text_field(:mobile, :class => "span4")%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">座机</label>
      <div class="controls">
        <%= f.text_field(:phone, :class => "span4")%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">QQ</label>
      <div class="controls">
        <%= f.text_field(:qq)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">微信</label>
      <div class="controls">
        <%= f.text_field(:weixin)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">微博</label>
      <div class="controls">
        <%= f.text_field(:weibo)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">博客</label>
      <div class="controls">
        <%= f.text_field(:blog)%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="typeahead">角色</label>
      <div class="controls">
        <%= f.text_field(:role)%>
      </div>
    </div>
    <div class="btns">
      <a class="btn" href="/sys/users">取消</a>
      <button type="submit" class="btn" >保存</button>
    </div>
  <% end %>
</div>
