<h1>编辑用户</h1>

<div>
  <%= form_for(@sys_user) do |f| %>
    <div>
      <label>邮箱</label>
      <%= f.text_field(:email)%>
    </div>
    <div>
      <label>姓名</label>
			<%= f.text_field(:name)%>
    </div>
    <div>
      <label>手机</label>
      <%= f.text_field(:mobile)%>
    </div>
    <div>
      <label>座机</label>
      <%= f.text_field(:phone)%>
    </div>
    <div>
      <label>QQ</label>
      <%= f.text_field(:qq)%>
    </div>

    <div >
      <a class="btn" href="/sys/users">取消</a>
      <button type="submit" class="btn" >保存</button>
    </div>
  <% end %>
</div>