<% content_for :head do %>
  修改信息-微信通联
<% end %>


<h2 class="visible-phone" style="font-size:20px;line-height:20px;">
  修改信息
</h2>

<h2 class="hidden-phone">修改信息</h2>

<div>
  <%= form_for(@sys_user) do |f| %>
    <div>
      <label>邮箱</label>
      <% if is_manager? %>
        <%= f.text_field(:email)%>
      <% else %>
        <%= @sys_user.email %>
      <% end %>
    </div>
    <div>
      <label>姓名</label>
			<%= f.text_field(:name)%>
    </div>
    <div>
      <label>手机</label>
      <%= f.text_field(:mobile)%>
    </div>
    <div>
      <label>座机</label>
      <%= f.text_field(:phone , :placeholder => "022-58590502")%>
    </div>
    <div>
      <label>QQ</label>
      <%= f.text_field(:qq)%>
    </div>

    <div >
      <a class="btn" href="/sys/users">取消</a>
      <button type="submit" class="btn" >保存</button>
    </div>
  <% end %>
</div>