<% content_for :head do %>
  创建圈子-微信通联
<% end %>

<h2 class="visible-phone" style="font-size:20px;line-height:20px;">
  创建圈子
</h2>

<h2 class="hidden-phone">创建圈子</h2>

<div>
  <%= form_for @sys_user, :url => { :action => "group_create" } do |f| %>
    <div>
      <label>新密码</label>
      <%= f.password_field(:password)%>
    </div>
    <div>
      <label>确认密码</label>
      <%= f.password_field(:password_confirmation) %>
    </div>
    <div>
      <label>姓名</label>
	  	<%= f.text_field(:name)%>
    </div>
	  <%= fields_for @group do |g| %>
	  	<label>圈子名</label>
	    <%= g.text_field :name %>
	  <% end %>
    <div>
      <label>邀请好友</label>
	  	<textarea name="bunch_users" class="bunch_new_textarea" style="width:400px;height:150px;" placeholder="example1@email.com, example2@email.com..."></textarea>
    </div>
    <div >
      <%= link_to "取消", sys_user_path(@sys_user), :class => "btn"%>
      <button type="submit" class="btn" >保存</button>
    </div>
  <% end %>
</div>