<h1>Listing sys_users</h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>邮箱</th>
    <th>姓名</th>
    <th>性别</th>
    <th>手机</th>
    <th>座机</th>
    <th>QQ</th>
    <th>微信</th>
    <th>微博</th>
    <th>博客</th>
    <th>角色</th>
    <th><%= link_to '新用户', new_sys_user_path %></th>
    <th><%= link_to '批量导入用户', multi_users_sys_users_path %></th>
  </tr>

<% @sys_users.each do |sys_user| %>
  <tr>
    <td><%= sys_user.id %></td>
    <td><%= sys_user.email %></td>
    <td><%= sys_user.name %></td>
    <td><%= sys_user.sex %></td>
    <td><%= sys_user.mobile %></td>
    <td><%= sys_user.phone %></td>
    <td><%= sys_user.qq %></td>
    <td><%= sys_user.weixin %></td>
    <td><%= sys_user.weibo %></td>
    <td><%= sys_user.blog %></td>
    <td><%= sys_user.role %></td>
    <td><%= link_to '编辑', edit_sys_user_path(sys_user) %></td>
    <td><%= link_to '删除', sys_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


