<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @sys_user.id %>
</p>

<p>
  <b>邮箱:</b>
  <%= @sys_user.email %>
</p>

<p>
  <b>姓名:</b>
  <%= @sys_user.name %>
</p>


<%= link_to '编辑', edit_sys_user_path(@sys_user) %> |
<%= link_to '返回', sys_users_path %>
