<% content_for :head do %>
  用户信息-微信通联
<% end %>

<h2>用户信息</h2>

<p>
  <b>邮箱:</b>
  <%= @sys_user.email %>
</p>

<p>
  <b>姓名:</b>
  <%= @sys_user.name %>
</p>

<p>
  <b>手机:</b>
  <%= @sys_user.mobile %>
</p>

<p>
  <b>座机:</b>
  <%= @sys_user.phone_str %>
</p>

<p>
  <b>QQ:</b>
  <%= @sys_user.qq %>
</p>


<%= link_to '编辑', edit_sys_user_path(@sys_user) %> |
<%= link_to '返回', sys_users_path %>
