<% content_for :head do %>
  用户信息-微信通联
<% end %>

<h2 class="visible-phone" style="font-size:20px;line-height:20px;">
    用户信息
</h2>

<h2 class="hidden-phone">用户信息</h2>
<dl class="dl-horizontal dl-tlian">
  <p>
    <dt>邮箱:</dt>
    <dd ><a href="mailto:<%= @sys_user.email %>"><%=@sys_user.email %></a></dd>
  </p>

  <% if @sys_user.name.present? %>
    <p>
      <dt>姓名:</dt>
      <dd><%= @sys_user.name %></dd>
    </p>
  <% end %>

  <% if @sys_user.mobile.present? %>
    <p>
      <dt>手机:</dt>
      <dd><a href="tel:<%=@sys_user.mobile %>"><%=@sys_user.mobile %></a></dd>
    </p>
  <% end %>

  <% if @sys_user.phone.present? %>
    <p>
      <dt>座机:</dt>
      <dd><a href="tel:<%=@sys_user.phone %>"><%=@sys_user.phone %></a></dd>
    </p>
  <% end %>

  <% if @sys_user.qq.present? %>
    <p>
      <dt>Q Q:</dt>
      <dd><%= @sys_user.qq %></dd>
    </p>
  <% end %>
</dl>

<div class="hidden-phone">
  <%= link_to '编辑', edit_sys_user_path(@sys_user) %> |
  <%= link_to '返回', :back %>
</div>

<div class="visible-phone">
  <%= link_to '编辑', edit_sys_user_path(@sys_user) %>
</div>

