<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @sys_user.id %>
</p>

<p>
  <b>Email:</b>
  <%= @sys_user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @sys_user.role %>
</p>

<p>
  <b>Allow access:</b>
  <%= @sys_user.allow_access %>
</p>

<p>
  <b>Active:</b>
  <%= @sys_user.active %>
</p>

<p>
  <b>Name:</b>
  <%= @sys_user.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @sys_user.sex %>
</p>

<p>
  <b>Mobile:</b>
  <%= @sys_user.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @sys_user.phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @sys_user.qq %>
</p>

<p>
  <b>Weixin:</b>
  <%= @sys_user.weixin %>
</p>

<p>
  <b>Weibo:</b>
  <%= @sys_user.weibo %>
</p>

<p>
  <b>Blog:</b>
  <%= @sys_user.blog %>
</p>


<%= link_to 'Edit', edit_sys_user_path(@sys_user) %> |
<%= link_to 'Back', sys_users_path %>
