<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount><%= @user.item_info[0] + 1 %></ArticleCount>
    <Articles>
    <item>
        <Title><![CDATA[<%= @user.name %>]]></Title>
        <Description><![CDATA[IhaveU]]></Description>
        <PicUrl><![CDATA[http://<%=SITE_DOMAIN%>/assets/address_main_t.jpg]]></PicUrl>
        <Url><![CDATA[http://<%=SITE_DOMAIN%>/users/<%=@user.id%>]]></Url>
    </item>
    <% @user.item_info[1].each do |item| %>
        <item>
            <Title><![CDATA[<%= wx_str(item)%><%="\n"%><%-if item == "phone" %><%= @user.send(item)[0, 3] %>-<%= @user.send(item)[-8, 4]%> <%= @user.send(item)[-4, 4]%><% else %><%= @user.send(item)%><% end %><%-if item == "email" %><%end%>]]></Title>
            <Description><![CDATA[<%=@user.name %>]]></Description>
            <PicUrl><![CDATA[http://<%=SITE_DOMAIN%>/assets/<%=wx_img(item)%>]]></PicUrl>
            <Url><![CDATA[http://<%=SITE_DOMAIN%>/users/<%=@user.id%>]]></Url>
        </item>
    <% end %>
    <item>
        <Title><![CDATA[更新联系方式]]></Title>
        <Description><![CDATA[IhaveU]]></Description>
        <PicUrl><![CDATA[http://<%=SITE_DOMAIN%>/assets/edit-icon.jpg]]></PicUrl>
        <Url><![CDATA[http://<%=SITE_DOMAIN%>/users/<%=@user.id%>/edit]]></Url>
    </item>
    </Articles>
    <FuncFlag>0</FuncFlag>
</xml>