<!DOCTYPE html>
<html>
<head>
  <title>Tonglian</title>
  <meta name="viewport" id="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice].present? %>
  <%= yield %>
</body>
</html>
