<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:head)||"微信通联" %></title>
  <meta name="viewport" id="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- 导航栏 -->
	<div class="navbar navbar-inverse navbar-fixed-top  hidden-phone">
    <div class="navbar-inner">
      <div class="container hidden-phone">
        <a class="brand" href="/">微信通联</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li id="users">
              <a href="/sys/users">用户列表</a>
            </li>
            <li id="bunch_new">
              <a href="/sys/users/bunch_new">导入用户</a>
            </li>
            <li id="feedbacks">
              <a href="/feedbacks">反馈意见</a>
            </li>
          </ul>
          <% if !session[:id].blank? %>
              <ul class="nav pull-right">
                <li id="exit_login">
                  <a href="/logout">退出</a>
                </li>
              </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

	<div class="navbar navbar-inverse navbar-fixed-top  visible-phone">
    <div class="navbar-inner">
      <div class="container">
      	<p class="brand" style="margin-left:20px;">微信通联</p>
      </div>
    </div>
  </div>

  <div class="main-body" style="">
  	<div class="container">
  		<!-- 错误提示信息 -->
  		<div class="text-warning"><%= flash[:notice] if flash[:notice].present? %></div>
  		<!-- 页面主体 -->
  		<%= yield %>
  	</div>
  </div>
  
  <label class="hide" id="current_controller_name"><%= params[:controller] %></label>
  <label class="hide" id="current_action_name"><%= params[:action] %></label>
</body>
</html>
