<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:head)||"微信通联" %></title>
  <meta name="viewport" id="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- 导航栏 -->
	<div class="navbar navbar-inverse navbar-fixed-top  hidden-phone">
    <div class="navbar-inner">
      <div class="container hidden-phone">
        <a class="brand" href="/">微信通联</a>
      </div>
    </div>
  </div>

  <div class="main-body">
  	<div class="container">
  		<!-- 错误提示信息 -->
  		<div class="text-warning"><%= flash[:notice] if flash[:notice].present? %></div>
  		<!-- 页面主体 -->
      <div class="visible-phone" style="margin-top:-50px;"><%= yield %></div>
  		<div class="hidden-phone"><%= yield %></div>
  	</div>
  </div>
  
  <label class="hide" id="current_controller_name"><%= params[:controller] %></label>
  <label class="hide" id="current_action_name"><%= params[:action] %></label>
</body>
</html>
